body{
    font-family: 'Noto Serif KR', 'Open Sans', sans-serif;
}
ul{
    list-style: none; 
}

*{
    padding: 0px;
    margin: 0px;
}

.header{
background-color: white;
}

.emoji{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    color:rgb(157, 206, 187);
    text-align: start;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: emojiAni 20s infinite linear;
}

@keyframes emojiAni {
    from {left: 0px;}
    to {left: -2000px;}
}

.logo{
font-size: 70px;
font-weight: 700;
color: rgb(101, 175, 152);
text-align: center;
}

.main_menu{
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    color: rgb(101, 175, 152);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    right: 20px; 
}

.main_menu li{
display: inline-block;
font-size: 20px;
font-weight: 700;
margin-right: 50px;
margin-bottom: 30px;
}

.section{
    display: flex;
    justify-content: space-between;
}

.main .side_section{
color: rgb(101, 175, 152);
display: inline-block;
background-color: beige;
height: 300vh;
vertical-align: top;
box-sizing: border-box;
padding: 50px 50px 50px 50px;
border-color: rgb(252, 223, 145);
font-weight: 700;
font-size: 20px;
}

.main .contents_section{
display: inline-block;
background-color: rgb(157, 206, 187);
height: 300vh;
width: 100%;
box-sizing: border-box;
}
.contents_section img{

    margin-top: 30px;
    margin-left: 30px;
}

.main .contents_section .text{
    color: rgb(45, 77, 67);
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}




